@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root body{
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #229797;
}
/* ======================================================================*/
/*                        INICIO HEADER  all pages                  */

.bg-welcome{
    background-color: #d9bb96 ;
    color: #152d35;
    font-weight: bold;
}

#menu a {
    font-weight: bold;
    color: #fff;
}

.fond-navbar{
    background-color:  #229797;
}

.img-logo {
    width: 250px;
}
/* FIN header */
/* ======================================================================*/


/* ======================================================================*/
/* INICIO Main "index"*/

.slide1 {
    background-image: url(../img/slide1.jpg);
}

.slide2 {
    background-image: url(../img/slide.2.2.jpg);
}

.slide3 {
    background-image: url(../img/slide3.jpg);
}

.carousel-item{
    height: 30rem;
    background-position: center;
    background-size: cover;
}

.sectionVN img {
    /* display: flex; */
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s;
}  

.sectionVN img:hover {
    transition: all 0.7s;
    filter: sepia(0%);
    transform: scale(1.05)
}


/* FIN Main "index" */
/* ======================================================================*/


/* ======================================================================*/
/* INICIA Section (card) Index */

section {
    background-color: #152d35;
    align-items: center;
}


.card-imgs {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9bb96;
    border: solid 3px #fff;
}

.sectionVN{
    min-height: 800px;
}

.text-span{
    color: #229797;
}

/* FIN Section Index */
/* ======================================================================*/

/* ======================================================================*/
/* INICIA Footer */
footer{
    height: 100px;
    background-color: #229797;
    width: 100%;
}

.redes{
    color: white;
}

.ft{
    text-shadow: 2px 2px 3px rgb(68, 68, 68);
}

/* FIN Footer */
/* ======================================================================*/

/* Card aboutme */
.main-aboutme{
    padding: 20px;
}

.card-aboutme {
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    
}

.card-aboutme img {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px #d9bb96;
    border-radius: 10px;
    transition: all 1s;
}  

.card-aboutme img:hover {
    transition: all 0.7s;
    filter: sepia(0%);
    transform: scale(1.05)
}

/* fin card */

/* Main card Purpose */

.textopose{
    text-align: center;
    border: solid 2px #fff;
}

.textopose h3{
    padding: 20px;
}

.purposeproject {
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s;
}

.purposeproject:hover {
    transition: all 0.7s;
    filter: sepia(0%);
    transform: scale(1.05)
}


.text-span-pose {
    color: #fff;
}


div .parrafocard {
    padding: 5px;
    
}
/* fin Card purpose */

/* Portfolio images */

.container img {
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s;
}  

.container{
    padding: 50px;
}

.container img:hover {
    transition: all 0.7s;
    filter: sepia(0%);
    transform: scale(1.05)
}

/* fin portfolio */


/* creando el form de Contact me  */

.form{
    background-color: #229797;
}

form {
    background-size: 100vw 100vh;
    background-attachment: fixed;
    width: 300px;
    margin: auto;
    background: #229797 ;
    border: solid 1px #fff;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 7px;
}

input , textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 80px;
    min-height: 200px;
    max-width: 100%;
    border-radius: 7px;
}

input{
    border-radius: 15px;
}

.gender{
    justify-content: left;
}

/* button send de formulario */

    .button-send {
        font-family: inherit;
        font-size: 20px;
        background: #a38867;;
        color: white;
        padding: 0.5em 2em;
        padding-left: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.2s;
    }
    
    .button-send span {
        display: block;
        margin-left: 0.1em;
        transition: all 0.3s ease-in-out;
    }
    
    .button-send svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    .button-send:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }
    
    .button-send:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }
    
    .button-send:hover span {
        transform: translateX(5em);
    }
    
    .button-send:active {
        transform: scale(0.95);
    }
    
    @keyframes fly-1 {
        from {
        transform: translateY(0.1em);
        }
    
        to {
        transform: translateY(-0.1em);
        }
    }
    
/* fin formulario contact me */
